.cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 3px solid var(--white);
    transform: translate(-50%, -50%);
    transition: all .4s linear;
    transition-property: width, height, border;
    will-change: width, height, border, transform;
    pointer-events: none;
    z-index: 999;

    &.hovered {
        background: transparent !important;
        width: 56px;
        height: 56px;
        border: var(--white);
    }

    &.nav-open {
        background: var(--yellow);
    }

    &.pointer {
        border: 4px solid var(--yellow) !important;
    }

    &.locked {
        background: transparent !important;
        width: 56px;
        height: 56px;
        border: 4px solid var(--yellow);
        /*top: ${props => props.theme.top};
        left: ${props => props.theme.left};*/
    }
}
