.header {
    height: 100px;
    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        align-items: center;
        padding: 38px 0;

        h1 {
            margin: 0;
            letter-spacing: 1px;
            font-size: 30px;
            font-weight: 700;
            font-family: 'ITC Avant Garde Gothic Std Book',sans-serif;
            color: transparent!important;
            -webkit-text-stroke: 0.2px var(--white);
        }

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                &:not(:last-of-type) {
                    margin: 0 65px 0 0;
                }
                a{
                    font-size: 16px;
                }
            }
        }
    }
}
