.header {
    height: 100px;
    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        align-items: center;
        padding: 38px 0;

        h1 {
            margin: 0;
            font-size: 20px;
            font-family: 'ITC Avant Garde Gothic Std Book',sans-serif;
        }

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                &:not(:last-of-type) {
                    margin: 0 65px 0 0;
                }
                a{
                    font-size: 16px;
                }
            }
        }
    }
}
